@import "../node_modules/patternfly/less/patternfly.less";


// Font path
@fa-font-path:      "../node_modules/patternfly/components/font-awesome/fonts/";
@font-path:         "../node_modules/patternfly/dist/fonts";
@icon-font-path:    "../node_modules/patternfly/components/bootstrap/fonts/";

//
// Blank Slate
// --------------------------------------------------

@thumbnail-border: @input-border;

body{
  background: #f4f4f4;
}


.navbar-pf-lg{
  .navbar-brand {
    padding: 12px 0;
  }  
  .navbar-utility {
    > li > a {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    li.dropdown > .dropdown-toggle {
      .pficon-user {
        top: 12px;
      }
    }    
  }  
}

.header{
  margin: 30px 0 20px 0;
  
  .actions{
    /* Small devices (tablets, 768px and up) */
    @media (min-width: @screen-sm-min) {     .pull-right;}
.glyphicon{
  display: none;
}    
  }
  
  .search-pf{
    width: 300px;
  }
  .dropdown-menu{
    right: 0;
    left: auto;
  }
}

.thumbnail{
  &:hover{
    .favorite{ display: block;}
    .name-icon{background: @link-hover-color;}
    text-decoration: none;
  }
  img{
    max-width: 200px;
    max-height: 100px;
  }
}
.favorite{
  position: absolute;
  top: 10px;
  right: 29px;
  background:#fff;
  border: 1px solid #fff;
  line-height: 22px;
  width: 24px;
  padding-bottom: 2px;
  text-align: center;
  border-radius: 15px;
  &:hover{
//    box-shadow: 0 0 4px rgba(0,0,0,.5);
    border: 1px solid @gray-lighter;
  }
  display: none;
  &.active{
    display: block;  
  }
}

.selectpicker{
  display: none;
}

.name{
  display: block;
  font-size: @font-size-h3;
  font-weight: 300; 
  text-align: center;
//  background: @gray-lighter;
  line-height: 100px;
  padding: 0;
  margin: 0;
}
.name-icon{
//    float: left;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    background-color: @link-color; 
    color: rgba(255,255,255,.9);
    font-size: @font-size-base * 2.5;
    font-weight: lighter;
    line-height: 50px;
    text-align: center;
    width: 50px;
    border-radius: @border-radius-base;
    border-radius: 25px;
}





























